* {
    border-radius: 0px !important;
}

.input-group {
    padding-bottom: 30px;
}

.panel-group {
    display: inline-block;
}

.panel-body {
    padding: 3px;
}

.panel .panel {
    margin-bottom: 0px;
}