* {
    border-radius: 0px !important;
}

.input-group {
    padding-bottom: 30px;
}

.panel-group {
    display: inline-block;
}

.panel-body {
    padding: 3px;
}

.panel .panel {
    margin-bottom: 0px;
}

.panel .drakard {
    padding: 5px;
}


.jumbotron {
    background-color: #000;
}

body.landing {
    background-color: #000;
}

.jumbotron h1 {
    color: #A8ADB2;
}

.jumbotron p {
    color: #A8ADB2;
}
